@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

@font-face {
   font-family: 'FreightSans';
   src: url('../fonts/freight/FreightSans-Medium.eot');
   src: local('FreightSans-Medium'),
       url('../fonts/freight/FreightSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freight/FreightSans-Medium.woff2') format('woff2'),
       url('../fonts/freight/FreightSans-Medium.woff') format('woff'),
       url('../fonts/freight/FreightSans-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'FreightSans-Bold';
   src: url('../fonts/freight/FreightSans-Bold.eot');
   src: local('FreightSans-Bold'),
       url('../fonts/freight/FreightSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freight/FreightSans-Bold.woff2') format('woff2'),
       url('../fonts/freight/FreightSans-Bold.woff') format('woff'),
       url('../fonts/freight/FreightSans-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'FreightSans-BoldSC';
   src: url('../fonts/freight/FreightSans-BoldSC.eot');
   src: local('FreightSans-BoldSC'),
       url('../fonts/freight/FreightSans-BoldSC.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freight/FreightSans-BoldSC.woff2') format('woff2'),
       url('../fonts/freight/FreightSans-BoldSC.woff') format('woff'),
       url('../fonts/freight/FreightSans-BoldSC.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}